<!-- Extend base layout template -->
{% extends 'layout.html' %}
{% block title %}Chronicle Ad{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block nav_chron %}active{% endblock %}

{% block content %}
<div class="container">
  <h2>Country Chronicle Editor (in progress)</h2>
  <div id="specials" class="whitebg row align-items-center">
    <div class="col-md-12 col-lg-6 mb-lg-0">
      <h4><label for="month">Select Month: </label>
        <span id="month-in" class="hidden" value="{{ return_month }}"></span>
        <input type="month" id="month" name="month" onchange="updateSpecials(this.value)">
      </h4>
    </div>
  </div>
  <div class="container">
    <div id="ad-editor" class="mx-auto" style="width: 8.5in; height: 11in;">
      <div class="row g-3">
        <div class="col-8"></div> <!-- Spacer -->
        <div class="col-4">
          <div class="p-2 border border-dark chron-cell chron-cell-small bg-light"></div>
        </div>
        {% for n in range(16) %}
          <div class="col-2">
            <div class="p-2 border border-dark chron-cell chron-cell-normal"></div>
          </div>
        {% endfor %}
        <div class="col-4">
          <div class="p-2 border border-dark chron-cell chron-cell-normal"></div>
        </div>
        {% for n in range(2) %}
          <div class="col-6">
            <div class="p-2 border border-dark chron-cell chron-cell-normal bg-light"></div>
          </div>
        {% endfor %}
      </div>

      {% for item in specials %}
        <div id="item.id" class="card col-2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

        <img id="drag1" src="{{ url_for('static',filename='img/specials/beer/stock.jpg') }}" draggable="true" ondragstart="drag(event)" width="336" height="69">
      {% endfor %}
    </div>
  </div>
  <input type='button' id='but_screenshot' value='Take screenshot' onclick='screenshot();'><br/>
</div>
{% endblock %}

{% block add_scripts %}
<script src="{{ url_for('static',filename='vendor/html2canvas/html2canvas.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/chronicle.js') }}"></script>
{% endblock %}