<!-- Extend base layout template -->
{% extends 'layout.html' %}
{% block title %}Chronicle Ad{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block nav_chron %}active{% endblock %}

{% block content %}
<div class="container">
  <h2>Country Chronicle Editor (in progress)</h2>
  <div id="specials" class="whitebg row align-items-center">
    <div class="col-md-12 col-lg-6 mb-lg-0">
      <h4><label for="month">Select Month: </label>
        <span id="month-in" class="hidden" value="{{ return_month }}"></span>
        <input type="month" id="month" name="month" onchange="updateSpecials(this.value)">
      </h4>
    </div>
  </div>
  <div id="ad-editor">
  </div>
</div>
{% endblock %}

{% block add_scripts %}
<script src="{{ url_for('static',filename='js/chronicle.js') }}"></script>
{% endblock %}