<!-- Extend base layout template -->
{% extends 'layout.html' %}
{% block title %}Specials{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

<!-- ======= Content ======= -->
{% block content %}
  <main id="main">
    <section class="site-portfolio">
      <div class="container mt-3">
        <!-- <div id="hero" class="row justify-content-center">
          <img class="img-fluid" src="{{ url_for('static', filename='img/wine.jpg')}}">
        </div> -->
        <div id="specials" class="whitebg row align-items-center mt-3">
          <div class="col-md-12 col-lg-6 mb-lg-0">
            <h2>{{ month }} Specials</h2>
          </div>
          <div class="col-md-12 col-lg-6 text-start text-lg-end">
            <div id="filters" class="filters">
              <a href="#" data-filter="*" class="active">All</a>
              <a href="#" data-filter=".beer">Beer</a>
              <a href="#" data-filter=".wine">Wine</a>
              <a href="#" data-filter=".spirit">Spirits</a>
            </div>
          </div>
        </div>
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="100">
          <!-- BEER -->
          {% for item in beer %}
          <div class="item {{ item.category }} col-sm-6 col-md-4 col-lg-4 mt-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>{{ item.product }}</h3>
                <div>{{ item.xpack }}-pack {{ item.volume.amount }}{{ item.volume.unit }} {{ item.medium }}</div>
                <div>${{ item.price }}</div>
              </div>
              <img class="img-fluid" src="{{ item.image }}">
            </a>
          </div>
          {% endfor %}

          <!-- WINE -->
          {% for item in wine %}
          <div class="item {{ item.category }} col-sm-6 col-md-4 col-lg-4 mt-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>{{ item.product }}</h3>
                <div>{{ item.volume.amount }}{{ item.volume.unit }} {{ item.varietals|join(', ') }}</div>
                <div>${{ item.price }}</div>
              </div>
              <img class="img-fluid" src="{{ item.image }}">
            </a>
          </div>
          {% endfor %}
          
          <!-- SPIRIT -->
          {% for item in spirit %}
          <div class="item {{ item.category }} col-sm-6 col-md-4 col-lg-4 mt-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>{{ item.product }}</h3>
                <div>{{ item.volume.amount }}{{ item.volume.unit }}</div>
                <div>${{ item.price }}</div>
              </div>
              <img class="img-fluid" src="{{ item.image }}">
            </a>
          </div>
          {% endfor %}

          <!-- <div class="item beer col-sm-6 col-md-4 col-lg-4 mt-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Bud Light</h3>
                <span>Beer</span>
              </div>
              <img class="img-fluid" src="{{ url_for('static', filename='img/img_1.jpg')}}">
            </a>
          </div> -->
        </div>
      </div>
    </section>

  </main>
{% endblock %}