<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cranbrook Liquors - {% block title %}{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='img/favicon.ico') }}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static',filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  {% endblock %}
</head>
<body>
  <!-- ======= Navbar ======= -->
  <nav class="navbar navbar-expand-lg navbar-light py-lg-0">
    <div class="container">
      <a class="navbar-brand" href="dashboard">
        <img id="logo" src="{{ url_for('static', filename='img/logo.png')}}" alt="Cranbrook Liquors Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item py-0 py-lg-3">
            <a class="nav-link {% block nav_dash %}{% endblock %}" aria-current="page" href="dashboard">Dashboard</a>
          </li>
          <li class="nav-item py-0 py-lg-3">
            <a class="nav-link {% block nav_newspec %}{% endblock %}" href="create-special">Create Special</a>
          </li>
          <li class="nav-item py-0 py-lg-3">
            <a class="nav-link {% block nav_preview %}{% endblock %}" href="preview">Preview</a>
          </li>
          <li class="nav-item py-0 py-lg-3">
            <a class="nav-link {% block nav_chron %}{% endblock %}" href="chronicle">Chronicle Ad</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ======= Content ======= -->
  <div id="content">{% block content %}{% endblock %}</div>
  
  <!-- ======= Footer ======= -->
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-12 social mt-3 text-center">
          <a href="https://www.facebook.com/cranbrookliquors"><span class="bi bi-facebook"></span></a>
          <a href="https://www.instagram.com/cranbrookliquors/"><span class="bi bi-instagram"></span></a>
          <a href="https://twitter.com/cranbrookliquo1"><span class="bi bi-twitter"></span></a>
        </div>
      </div>
    </div>
  </footer>
  
  <!-- ======= Scripts ======= -->
  <script src="{{ url_for('static',filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/vue/vue.min.js') }}"></script>
  {% block add_scripts %}{% endblock %}
</body>
</html>