<!-- Extend base layout template -->
{% extends 'layout.html' %}
{% block title %}Create New Special{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block nav_spec %}active{% endblock %}

<!-- ======= Content ======= -->
{% block content %}

<div class="container">
  <h1>Create New Special</h1>
  <div class="row">
    <!-- New Special Input -->
    <div class="col-12 col-md-8 container-fluid">

      <form class="needs-validation" novalidate>
        
        <!-- Category -->
        <div class="mb-3 active beer wine spirits">
          <label for="category" class="form-label">Category</label>
          <select class="form-select" id="category" onchange="updateFields(this.value)">
            <option value="beer">Beer</option>
            <option value="wine">Wine</option>
            <option value="spirit">Spirit</option>
          </select>
        </div>
        
        <!-- Brand -->
        <div class="mb-3 active beer wine spirits">
          <label for="brand" class="form-label">Brand</label>
          <input type="text" class="form-control" id="brand" required>
          <div class="invalid-feedback">Please provide the Brand (e.g. "Tito's" or "Dogfish Head")</div>
        </div>

        <!-- Product -->
        <div class="mb-3 active beer wine spirits">
          <label for="product" class="form-label">Product</label>
          <input type="text" class="form-control" id="product" required>
          <div class="invalid-feedback">Please provide the Product (e.g. "Vodka" or "60 Min.")</div>
        </div>

        <!-- Volume -->
        <div class="mb-3 active beer wine spirits">
          <label for="volume" class="form-label">Volume</label>
          <div class="row g-3">
            <div class="col-auto">
              <input type="number" min=1 step="0.01" class="form-control" id="vol-amount" required>
              <div class="invalid-feedback">Please provide the Volume amount (e.g. "1.75" or "750")</div>
            </div>
            <div class="col-auto">
              <select class="col-auto form-select" id="vol-unit">
                <option value="L">liters</option>
                <option value="ml">milliliters</option>
                <option value="oz">ounces</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Pack Size (Beer only) -->
        <div class="mb-3 active field beer">
          <label for="xpack" class="form-label">Pack Size</label>
          <input type="number" min=1 class="form-control" id="xpack" required>
          <div class="invalid-feedback">Please provide the Pack Size (e.g. "6" or "12")</div>
        </div>

        <!-- Medium (Beer only) -->
        <div class="mb-3 active field beer">
          <label for="medium" class="form-label">Container</label>
          <div class="form-check form-switch">
            <input class="form-check-input container-type" type="checkbox" id="bottles" onchange="checkContainer(this.id)" checked>
            <label class="form-check-label" for="bottles">Bottles</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input container-type" type="checkbox" id="cans" onchange="checkContainer(this.id)">
            <label class="form-check-label" for="cans">Cans</label>
          </div>
        </div>

        <!-- Varietals (Wine only) -->
        <div class="mb-3 active field wine">
          <label for="varietals" class="form-label">Varietals</label>
          <input type="text" class="form-control" id="varietals" required>
          <div class="invalid-feedback">Please provide the Varietals separated by a comma (e.g. "Sauv. Blanc, Cab, and Chard.")</div>
        </div>

        <!-- Price -->
        <div class="mb-3 active beer wine spirits">
          <label for="price" class="form-label">Price</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="number" step="0.01" class="form-control" required>
            <div class="invalid-feedback">Please provide the Price (e.g. "12.99")</div>
          </div>
        </div>

        <!-- Image -->
        <div class="mb-3 active beer wine spirits">
          <label for="image" class="form-label">Product Image (stock imagery will be used if not provided)</label>
          <input class="form-control" type="file" id="image">
        </div>
        
        <!-- Month -->
        <div class="mb-3 active beer wine spirits">
          <label for="month">Month</label>
          <input class="form-control" type="month" id="month" required>
          <div class="invalid-feedback">Please select the Month for which this special is valid</div>
        </div>

        <!-- Submit -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <!-- New Special Preview -->
    <div class="item col-12 col-md-4 mt-4 mx-auto">
      <div class="item-wrap fancybox">
        <div class="work-info">
          <h3>brand and product</h3>
          <div class="item-desc">6-pack 12oz cans</div>
          <div class="item-price">$12.99</div>
        </div>
        <img class="img-fluid" src="/static/img/specials/beer/stock.jpg">
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- Additional Scripts -->
{% block add_scripts %}
<script src="{{ url_for('static',filename='js/new-special.js') }}"></script>
<script>updateFields("beer")</script> <!-- load initial fields -->
{% endblock %}