<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Community</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: MyPortfolio - v4.0.1
    * Template URL: https://bootstrapmade.com/myportfolio-bootstrap-portfolio-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>
  <!-- ======= Navbar ======= -->
  <nav class="navbar navbar-expand navbar-light float-end py-lg-1">
    <div class="container">
      <ul class="navbar-nav d-flex align-items-center">
        <li class="side-nav nav-item">
          <span class="d-none d-lg-inline">(410)666-8248</span>
          <span class="d-inline d-lg-none"><a class="nav-link" href="tel:4106668248"><i class="bi bi-telephone-fill"></i> Click to Call</a></span>
        </li>
        <li class="side-nav nav-item text-end">
          <span class="d-none d-lg-inline">52 Cranbrook Rd.<br>Cockeysville, MD 21030</span>
          <span class="d-inline d-lg-none"><a class="nav-link" href="https://www.google.com/maps/place/Cranbrook+Liquors/@39.464758,-76.637519,17z/data=!3m1!4b1!4m5!3m4!1s0x89c80df0a989af81:0x851438d20bb32178!8m2!3d39.4647539!4d-76.6353303" target="_blank"><i class="bi bi-geo-alt-fill"></i> Map</a></span>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light py-lg-0">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img id="logo" src="assets/img/logo.png" alt="Cranbrook Liquors Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item py-0 py-lg-3">
            <a class="nav-link" aria-current="page" href="index.html">Specials</a>
          </li>
          <li class="nav-item py-0 py-lg-3">
            <a class="nav-link" href="community.html">Community</a>
          </li>
          <li class="nav-item py-0 py-lg-3">
            <a class="nav-link active" href="#">Staff</a>
          </li>
          <li class="nav-item py-0 py-lg-3">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- ======= Main ======= -->
    <main id="main">

      <section>
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-12" data-aos="fade-up">
              <h2>Meet The Staff</h2>
              <p>Pardon our digital dust, we will have this page up and running soon</p>
            </div>
          </div>
        </div>
      </section>
    </main>

  <!-- ======= Footer ======= -->
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-6" data-aos="fade-up">
          <p class="mb-1">&copy; Copyright MyPortfolio. All Rights Reserved</p>
          <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=MyPortfolio
          -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
        <div class="col-sm-6 social text-md-end">
          <a href="https://www.facebook.com/cranbrookliquors"><span class="bi bi-facebook"></span></a>
          <a href="https://www.instagram.com/cranbrookliquors/"><span class="bi bi-instagram"></span></a>
          <a href="https://twitter.com/cranbrookliquo1"><span class="bi bi-twitter"></span></a>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>
</html>