<!-- Extend base layout template -->
{% extends 'layout.html' %}
{% block title %}Meet the Staff{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

<!-- ======= Content ======= -->
{% block content %}
  <main id="main">

    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="whitebg col-md-12 mt-3 mb-3" data-aos="fade-up">
            <h2>Meet The Staff</h2>
            <div class="row">
              {% for emp in staff %}
                <div class="card col-md-3 m-2">
                  <img src="/static/img/{{ emp.name }}.jpg" class="card-img-top" alt="{{ emp.name }}">
                  <div class="card-body">
                    <h5 class="card-title text-center">{{ emp.name }}</h5>
                    <h6 class="card-title text-center">{{ emp.position }}</h6>
                    <p class="card-text">Specialties: {{ emp.specialties|join(", ") }}</p>
                    <p class="card-text">Hobbies: {{ emp.hobbies|join(", ") }}</p>
                    <p class="card-text">{{ emp.name }}'s goals include {{ emp.goals }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}